@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --global-border-radius: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: var( --global-border-radius);
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  margin-bottom: 15px;
}

.item.hold {
  border: 2px solid lightgreen;
  transform: scaleY(0.85);
  padding: 20px;
}

.item.hide {
  display: none;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  min-height: 66px;
  border-radius: var( --global-border-radius);
  transition: all .3s ease-in-out;
}

.placeholder:not(:empty) {
  padding-bottom: 100px;
}

.placeholder.hovered {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}

.placeholder_progress .item {
  color: green;
}

.placeholder_complete .item {
  text-decoration: line-through;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}